parameters:
    level: 8
    paths:
        - src/
    bootstrapFiles:
        - tests/bootstrap.php
    checkMissingIterableValueType: false
    ignoreErrors:
        - '#Cannot call method .+ on .+\|null\.#'
        - '#Parameter .+ of method .+ expects .+AbstractRequestContainer, .+Interface given\.#'
        - '#Property SprykerEco\\Zed\\Payone\\Business\\Api\\Call\\CreditCardCheck::\$storeCardData is never read, only written\.#'
        - '#Call to method .+ on an unknown class Generated\\.+\\Ide\\AutoCompletion\.#'
        - '#Argument of an invalid type .+ supplied for foreach, only iterables are supported\.#'
        - '#Call to an undefined method .+SpySalesOrderQuery::orderByIdPaymentPayoneApiLog\(\)\.#'
        - '#Call to an undefined method .+SpySalesOrderQuery::filterByRequest\(\)\.#'
        - '#Call to an undefined method .+SpySalesShipmentQuery.+useSpyPaymentPayoneDetailQuery\(\)\.#'
    excludePaths:
        - src/SprykerEco/Zed/Payone/Persistence/Propel
        - src/SprykerEco/Yves/Payone/Form/Constraint
