parameters:
    level: 8
    paths:
        - src/
    bootstrapFiles:
        - tests/bootstrap.php
    checkGenericClassInNonGenericObjectType: false
    checkMissingIterableValueType: false
    ignoreErrors:
        - '#Expression on left side of ?? is not nullable\.#'
        - '#Parameter .+ of method .+ has invalid type .+#'
        - '#Method .+ has invalid return type .+#'
        - '#.+Generated\\Shared\\Transfer.+#'
        - '#Parameter .+ of method .+ has invalid typehint type Orm\\Zed\\Payone\\Persistence\\.+#'
        - '#Return typehint of method .+ has invalid type Orm\\Zed\\Payone\\Persistence\\.+#'
        - '#Call to static method create\(\) on an unknown class Orm\\Zed\\.+\\Persistence\\.+#'
        - '#Instantiated class Orm\\Zed\\Payone\\Persistence\\.+ not found.+#'
        - '#Parameter .+ of method .+ has invalid typehint type Orm\\Zed\\Sales\\Persistence\\.+#'
        - '#Call to method .+ on an unknown class Orm\\Zed\\.+\\Persistence\\.+#'
        - '#PHPDoc tag @var for variable .+ contains unknown class Orm\\Zed\\.+\\Persistence\\.+#'
        - '#Call to method .+ on an unknown class Generated\\.+\\Ide\\AutoCompletion\.#'
        - '#Property .+ has unknown class Orm\\Zed\\Payone\\Persistence\\.+ as its type\.#'
        - '#Call to an undefined method Spryker\\Shared\\Kernel\\Transfer\\AbstractTransfer::.+#'
        - '#Argument of an invalid type .+ supplied for foreach, only iterables are supported\.#'
        - '#Parameter .+ .+ of method .+ expects SprykerEco\\Zed\\Payone\\Business\\.+, SprykerEco\\Zed\\Payone\\Business\\Api\\Request\\Container\\.+ given\.#'
        - '#Method SprykerEco\\Zed\\Payone\\Business\\Payment\\MethodMapper\\.+ should return SprykerEco\\Zed\\Payone\\Business\\Api\\Request\\Container\\.+ but returns SprykerEco\\Zed\\Payone\\Business\\Api\\Request\\Container\\.+#'
    excludePaths:
        - src/SprykerEco/Zed/Payone/Persistence/Propel
        - src/SprykerEco/Yves/Payone/Form/Constraint
