parameters:
    level: 8
    paths:
        - src/
    bootstrapFiles:
        - tests/bootstrap.php
    checkMissingIterableValueType: false
    ignoreErrors:
        - '#Property .+ in .+ is not nullable#'
        - '#Strict comparison using === between string and null will always evaluate to false\.#'
        - '#Cannot call method .+ on .+\|null\.#'
        - '#Parameter \#1 \$v of method .+Spy.+ expects .+ given\.#'
        - '#Parameter \#1 \$data of method .+fromArray\(\) expects array\<string, mixed\>, array\|string given\.#'
        - '#Parameter .+ of function str_replace expects array\|string, string\|null given\.#'
        - '#Parameter .+ of function strtolower expects string, string\|null given\.#'
        - '#Parameter .+ of function count expects array\|Countable, array\|null given\.#'
        - '#Parameter .+ of function substr expects string, string\|null given\.#'
        - '#Parameter .+ of function ucfirst expects string, string\|null given\.#'
        - '#Parameter .+ of function strpos expects string, string\|null given\.#'
        - '#Parameter .+ of function base64_decode expects string, string\|null given\.#'
        - '#Parameter .+ of function md5 expects string, string\|null given\.#'
        - '#Parameter .+ of method .+ expects .+Interface, .+AbstractRequestContainer given\.#'
        - '#Parameter .+ of method .+ expects .+AbstractRequestContainer, .+Interface given\.#'
        - '#Parameter .+ of method .+ expects .+Interface, .+Interface given\.#'
        - '#Parameter .+ of method .+ expects .+AbstractPaymentMethodContainer, .+ContainerInterface given\.#'
        - '#Parameter .+ of method .+ expects Generated\\Shared\\Transfer\\QuoteTransfer, Generated\\Shared\\Transfer\\QuoteTransfer\|null given\.#'
        - '#Property SprykerEco\\Zed\\Payone\\Business\\Api\\Call\\CreditCardCheck::\$storeCardData is never read, only written\.#'
        - '#Parameter .+ of method .+ expects Generated\\Shared\\Transfer\\SaveOrderTransfer, Generated\\Shared\\Transfer\\SaveOrderTransfer\|null given\.#'
        - '#Parameter .+ of method .+ expects Generated\\Shared\\Transfer\\PayonePaymentTransfer, Generated\\Shared\\Transfer\\PayonePaymentTransfer\|null given\.#'
        - '#Parameter .+ of method .+ expects Generated\\Shared\\Transfer\\PaymentDetailTransfer, Generated\\Shared\\Transfer\\PaymentDetailTransfer\|null given\.#'
        - '#Call to method .+ on an unknown class SprykerEco\\Zed\\Payone\\Business\\Payment\\RequestSender\\CaptureContainerInterface\.#'
        - '#Parameter \$container of method .+preparePartialCaptureOrderItems\(\) has invalid type .+ContainerInterface\.#'
        - '#Call to method .+ on an unknown class Generated\\.+\\Ide\\AutoCompletion\.#'
        - '#Argument of an invalid type .+ supplied for foreach, only iterables are supported\.#'
        - '#Method .+AbstractContainer::toJson\(\) should return string but returns string\|null\.#'
        - '#Method .+PayoneStub::updateStatus\(\) should return Generated\\Shared\\Transfer\\PayoneTransactionStatusUpdateTransfer but returns Spryker\\Shared\\Kernel\\Transfer\\TransferInterface\.#'
        - '#Method .+PayoneStub::bankAccountCheck\(\) should return Generated\\Shared\\Transfer\\PayoneBankAccountCheckTransfer but returns Spryker\\Shared\\Kernel\\Transfer\\TransferInterface\.#'
        - '#Method .+PayoneStub::manageMandate\(\) should return Generated\\Shared\\Transfer\\PayoneManageMandateTransfer but returns Spryker\\Shared\\Kernel\\Transfer\\TransferInterface\.#'
        - '#Method .+PayoneStub::getFile\(\) should return Generated\\Shared\\Transfer\\PayoneGetFileTransfer but returns Spryker\\Shared\\Kernel\\Transfer\\TransferInterface\.#'
        - '#Method .+PayoneStub::getPaymentDetail\(\) should return Generated\\Shared\\Transfer\\PayoneGetPaymentDetailTransfer but returns Spryker\\Shared\\Kernel\\Transfer\\TransferInterface\.#'
        - '#Method .+PayoneStub::getInvoice\(\) should return Generated\\Shared\\Transfer\\PayoneGetInvoiceTransfer but returns Spryker\\Shared\\Kernel\\Transfer\\TransferInterface\.#'
        - '#Method .+PayoneStub::cancelRedirect\(\) should return Generated\\Shared\\Transfer\\PayoneCancelRedirectTransfer but returns Spryker\\Shared\\Kernel\\Transfer\\TransferInterface\.#'
        - '#Method .+PayoneStub::initPaypalExpressCheckout\(\) should return Generated\\Shared\\Transfer\\PayonePaypalExpressCheckoutGenericPaymentResponseTransfer but returns Spryker\\Shared\\Kernel\\Transfer\\TransferInterface\.#'
        - '#Method .+PayoneStub::getPaypalExpressCheckoutDetails\(\) should return Generated\\Shared\\Transfer\\PayonePaypalExpressCheckoutGenericPaymentResponseTransfer but returns Spryker\\Shared\\Kernel\\Transfer\\TransferInterface\.#'
        - '#Method .+PayoneStub::sendAddressCheckRequest\(\) should return Generated\\Shared\\Transfer\\AddressCheckResponseTransfer but returns Spryker\\Shared\\Kernel\\Transfer\\TransferInterface\.#'
        - '#Method .+PayoneStub::sendConsumerScoreRequest\(\) should return Generated\\Shared\\Transfer\\ConsumerScoreResponseTransfer but returns Spryker\\Shared\\Kernel\\Transfer\\TransferInterface\.#'
        - '#Method .+PayoneStub::sendKlarnaStartSessionRequest\(\) should return Generated\\Shared\\Transfer\\PayoneKlarnaStartSessionResponseTransfer but returns Spryker\\Shared\\Kernel\\Transfer\\TransferInterface\.#'
        - '#Method .+AbstractHttpAdapter::generateUrlArray\(\) should return array but returns array\<string, int\|string\>\|false\.#'
        - '#Method .+AbstractRequestContainer::getEncoding\(\) should return string but returns string\|null\.#'
        - '#Method .+AbstractRequestContainer::getApiVersion\(\) should return string but returns string\|null\.#'
        - '#Method .+AbstractRequestContainer::getMode\(\) should return string but returns string\|null\.#'
        - '#Method .+AbstractRequestContainer::getSuccessUrl\(\) should return string but returns string\|null\.#'
        - '#Method .+AbstractRequestContainer::getErrorUrl\(\) should return string but returns string\|null\.#'
        - '#Method .+PayoneRepository::createPaymentPayoneApiLogQueryByOrderIds\(\) should return .+SpyPaymentPayoneApiLogQuery but returns .+SpyPaymentPayoneApiLogQuery\|.+SpyPaymentPayoneDetailQuery|.+SpyPaymentPayoneOrderItemQuery\|.+SpyPaymentPayoneTransactionStatusLogQuery\|.+SpySalesOrderQuery.\.#'
        - '#Method .+PayoneRepository::createPaymentPayoneTransactionStatusLogQueryByOrderIds\(\) should return .+SpyPaymentPayoneTransactionStatusLogQuery but returns .+SpyPaymentPayoneApiLogQuery\|.+SpyPaymentPayoneDetailQuery|.+SpyPaymentPayoneOrderItemQuery\|.+SpyPaymentPayoneTransactionStatusLogQuery\|.+SpySalesOrderQuery.\.#'
        - '#Method .+PayoneToOmsBridge::triggerEvent\(\) should return array but returns array\|null\.#'
        - '#Method .+ShipmentMapper::getDeliveryCosts\(\) should return int but returns int\|null\.#'
        - '#Method .+CaptureContainer::getCurrency\(\) should return string but returns string\|null\.#'
        - '#Method .+RefundContainer::getBankcountry\(\) should return string but returns string\|null\.#'
        - '#Method .+PersonalContainer::getLanguage\(\) should return string but returns string\|null\.#'
        - '#Method .+AbstractAuthorizationContainer::getCurrency\(\) should return string but returns string\|null\.#'
        - '#Method .+CashOnDeliveryContainer::getShippingProvider\(\) should return string but returns string\|null\.#'
        - '#Method .+CashOnDelivery::mapPaymentToPreAuthorization\(\) should return .+PreAuthorizationContainerInterface but returns .+AbstractAuthorizationContainer\.#'
        - '#Method .+CreditCardPseudo::mapPaymentToAuthorization\(\) should return .+AuthorizationContainer but returns .+AbstractAuthorizationContainer\.#'
        - '#Method .+CreditCardPseudo::mapPaymentToPreAuthorization\(\) should return .+PreAuthorizationContainerInterface but returns .+AbstractAuthorizationContainer\.#'
        - '#Method .+DirectDebit::mapPaymentToAuthorization\(\) should return .+AuthorizationContainer but returns .+AbstractAuthorizationContainer\.#'
        - '#Method .+DirectDebit::mapPaymentToPreAuthorization\(\) should return .+PreAuthorizationContainerInterface but returns .+AbstractAuthorizationContainer\.#'
        - '#Method .+EWallet::mapPaymentToAuthorization\(\) should return .+AuthorizationContainer but returns .+AbstractAuthorizationContainer\.#'
        - '#Method .+EWallet::mapPaymentToPreAuthorization\(\) should return .+PreAuthorizationContainerInterface but returns .+AbstractAuthorizationContainer\.#'
        - '#Method .+GenericPayment::mapPaymentToAuthorization\(\) should return .+AuthorizationContainer but returns .+AbstractAuthorizationContainer\.#'
        - '#Method .+Invoice::mapPaymentToAuthorization\(\) should return .+AuthorizationContainer but returns .+AbstractAuthorizationContainer\.#'
        - '#Method .+Invoice::mapPaymentToPreAuthorization\(\) should return .+PreAuthorizationContainerInterface but returns .+AbstractAuthorizationContainer\.#'
        - '#Method .+OnlineBankTransfer::mapPaymentToAuthorization\(\) should return .+AuthorizationContainer but returns .+AbstractAuthorizationContainer\.#'
        - '#Method .+OnlineBankTransfer::mapPaymentToPreAuthorization\(\) should return .+PreAuthorizationContainerInterface but returns .+AbstractAuthorizationContainer\.#'
        - '#Method .+Prepayment::mapPaymentToAuthorization\(\) should return .+AuthorizationContainer but returns .+AbstractAuthorizationContainer\.#'
        - '#Method .+Prepayment::mapPaymentToPreAuthorization\(\) should return .+PreAuthorizationContainerInterface but returns .+AbstractAuthorizationContainer\.#'
        - '#Method .+PayonePartialCaptureRequestSender::preparePartialCaptureOrderItems\(\) should return .+AbstractRequestContainer but returns .+AbstractRequestContainer\|.+CaptureContainerInterface\.#'
        - '#Method .+PayonePartialCaptureRequestSender::getDeliveryCosts\(\) should return int but returns int\|null\.#'
        - '#Method .+PayoneQueryContainer::createTransactionStatusLogsBySalesOrder\(\) should return .+SpyPaymentPayoneTransactionStatusLogQuery but returns .+SpyPaymentPayoneApiLogQuery\|.+SpyPaymentPayoneDetailQuery\|.+SpyPaymentPayoneOrderItemQuery\|.+SpyPaymentPayoneTransactionStatusLogQuery\|.+SpySalesOrderQuery\.#'
        - '#Method .+PayoneQueryContainer::createApiLogsByOrderIds\(\) should return .+SpyPaymentPayoneApiLogQuery but returns .+SpyPaymentPayoneApiLogQuery\|.+SpyPaymentPayoneDetailQuery\|.+SpyPaymentPayoneOrderItemQuery\|.+SpyPaymentPayoneTransactionStatusLogQuery\|.+SpySalesOrderQuery\.#'
        - '#Method .+PayoneQueryContainer::createTransactionStatusLogsByOrderIds\(\) should return .+SpyPaymentPayoneTransactionStatusLogQuery but returns .+SpyPaymentPayoneApiLogQuery\|.+SpyPaymentPayoneDetailQuery\|.+SpyPaymentPayoneOrderItemQuery\|.+SpyPaymentPayoneTransactionStatusLogQuery\|.+SpySalesOrderQuery\.#'
        - '#Call to an undefined method .+SpySalesOrderQuery::orderByIdPaymentPayoneApiLog\(\)\.#'
        - '#Call to an undefined method .+SpySalesOrderQuery::filterByRequest\(\)\.#'
        - '#Call to an undefined method .+SpySalesShipmentQuery.+useSpyPaymentPayoneDetailQuery\(\)\.#'
    excludePaths:
        - src/SprykerEco/Zed/Payone/Persistence/Propel
        - src/SprykerEco/Yves/Payone/Form/Constraint
