<div class="payment-subform payone-form payone-postfinance-card-online-transfer-form payment-form" id="payonePostfinanceCardOnlineTransfer">
    <div class="field">
        {{ form_widget(form.payonePostfinanceCardOnlineTransfer.onlinebanktransfertype) }}
    </div>

    <div class="field">
        {{ form_widget(form.payonePostfinanceCardOnlineTransfer.bankcountry) }}
    </div>

    {{ form_errors(form) }}

</div>
