<div class="payment-subform payone-form payone-postfinance-efinance-online-transfer-form payment-form" id="payonePostfinanceEfinanceOnlineTransfer">
    <div class="field">
        {{ form_widget(form.payonePostfinanceEfinanceOnlineTransfer.onlinebanktransfertype) }}
    </div>

    <div class="field">
        {{ form_widget(form.payonePostfinanceEfinanceOnlineTransfer.bankcountry) }}
    </div>

    {{ form_errors(form) }}

</div>
