{% extends model('component') %}

{% define config = {
    name: 'payone-klarna',
    tag: 'payone-klarna',
} %}

{% define data = {
    scriptSrc: 'https://x.klarnacdn.net/kp/lib/v1/api.js',
    form: data.form,
    billingAddressData: data.billingAddressData,
    customerData: data.customerData,
    klarnaPayMethods: data.klarnaPayMethods,
} %}

{% set billingAddressData = data.billingAddressData %}

{% define attributes = {
    'given-name': billingAddressData['given_name'] | default,
    'family-name': billingAddressData['family_name'] | default,
    'email': billingAddressData['email'] | default,
    'street-address': billingAddressData['street_address'] | default,
    'postal-code': billingAddressData['postal_code'] | default,
    'city': billingAddressData['city'] | default,
    'country': billingAddressData['country'] | default,
    'phone': billingAddressData['phone'] | default,
    'date-of-birth': data.customerData['date_of_birth'] | default,
    'field-class-name': 'js-payone-klarna__select-field',
    'klarna-pay-methods' : data.klarnaPayMethods | default([]) | json_encode(),
} %}

{% block body %}
    <div class="payment-subform payone-form payone-klarna-form payment-form" id="payoneKlarna">
        <div class="field">
            {{ form_widget(data.form.payoneKlarna.payMethod, {'attr': {'class': attributes['field-class-name']}}) }}
            {{ form_widget(data.form.payoneKlarna.payMethodTokens) }}
        </div>
    </div>

    {% include molecule('script-loader') with {
        attributes: {
            src: data.scriptSrc,
            async: true,
        },
    } only %}

    <div id="klarna_container"></div>
{% endblock %}


