{% extends model('component') %}

{% define config = {
    name: 'payone-klarna',
    tag: 'payone-klarna'
} %}

{% define data = {
    scriptSrc: 'https://x.klarnacdn.net/kp/lib/v1/api.js',
    token: data.token
} %}

{% block body %}
    {% include molecule('script-loader') with {
        attributes: {
            src: data.scriptSrc,
            async: true
        }
    } only %}

    <div id="klarna_container"></div>

    <script>
        window.klarnaAsyncCallback = function () {
            Klarna.Payments.init({
                client_token: "{{data.token}}"
            })
        };

        window.onload = function () {

            Klarna.Payments.load({
                container: '#klarna_container',
                payment_method_category: 'pay_later',
            }, function (res) {
                console.debug(res);
                Klarna.Payments.authorize({
                    payment_method_category: "pay_later"
                }, {
                    billing_address: {
                        given_name: "Sonia",
                        family_name: "Wagner",
                        email: "sonia@spryker.com",
                        title: "Ms",
                        street_address: "Kirncher Str. 7",
                        postal_code: "10247",
                        city: "Berlin",
                        phone: "4902890031",
                        country: "DE"
                    },
                    customer: {
                        date_of_birth: "1960-07-07",
                    }
                }, function(res) {
                    console.debug(res);
                })
            })
        }
    </script>

{% endblock %}
