<div class="payment-subform payone-form payone-przelewy24-online-transfer-form payment-form" id="payonePrzelewy24OnlineTransfer">
    <h3>{{ 'payment.payone.bancontact-online-transfer' | trans }}</h3>

    <div class="field">
        {{ form_widget(form.payoneBancontactOnlineTransfer.onlinebanktransfertype) }}
    </div>

    <div class="field">
        {{ form_widget(form.payoneBancontactOnlineTransfer.bankcountry) }}
    </div>

    {{ form_errors(form) }}

</div>
