<div class="payone-form payone-e-wallet-form payment-form" id="payoneEWallet">
    <h3>{{ 'payment.payone.e_wallet' | trans }}</h3>
    <div class="field">
        {{ form_widget(form.payoneEWallet.wallettype) }}
    </div>
</div>