<div class="payment-subform payone-form payone-invoice-form payment-form" id="payoneInvoice">
    <h3>{{ 'payment.payone.invoice' | trans }}</h3>
    <div class="field">
        {{ form_widget(form.payoneInvoice.paymentMethod) }}
    </div>
</div>
