<div class="payment-subform payone-form payone-prepayment-form payment-form" id="payonePrePayment">
    <h3>{{ 'payment.payone.prepayment' | trans }}</h3>
    <div class="field">
        {{ form_widget(form.payonePrePayment.paymentMethod) }}
    </div>
</div>
