<div class="payment-subform payone-form payone-prepayment-form payment-form" id="payonePrePayment">
    <div class="field">
        {{ form_widget(form.payonePrePayment.paymentMethod) }}
    </div>
</div>
