<div class="payment-subform payone-form payone-cash-on-delivery-form payment-form" id="payoneCashOnDelivery">
    <div class="field">
        {{ form_widget(form.payoneCashOnDelivery.paymentMethod) }}
    </div>
</div>
