<div class="payment-subform payone-form payone-security-invoice-form payment-form" id="payoneSecurityInvoice">
    <h3>{{ 'payment.payone.security_invoice' | trans }}</h3>
    <div class="field">
        {{ form_widget(form.payoneSecurityInvoice.paymentMethod) }}
    </div>
</div>
