{% extends model('component') %}

{% define config = {
    name: 'payone-invoice',
    tag: 'payone-invoice'
} %}

{% define data = {
    form: required,
} %}

{% block body %}
    <div class="payment-subform payone-form payone-invoice-form payment-form" id="payoneInvoice">
        <div class="field">
            {{ form_widget(data.form.payoneInvoice.paymentMethod) }}
        </div>
    </div>
{% endblock %}
