<p class="__padding-top">
    <a href="{{ url('payone-paypal-express-checkout-start') }}">
        <img src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/checkout-logo-large.png" alt="Check out with PayPal" />
    </a>
</p>
