name: CI

on:
    pull_request:
    push:
        branches:
            - master
    workflow_dispatch:

env:
    SPRYKER_TESTING_ENABLED: 1
    APPLICATION_STORE: DE
    POSTGRES_PORT: 5433
    DB_USER: postgres
    DB_NAME: DE_test_zed
    DB_PASSWORD: pwd
    MODULE_DIR: module
    SHOP_DIR: current
    MODULE_NAME: payone

jobs:
    validation:
        name: "Validation"
        runs-on: ubuntu-18.04
        strategy:
            fail-fast: false
            matrix:
                include:
                    -   php: '7.4'
                    -   php: '8.0'

        env:
            APPLICATION_ENV: devtest
            APPLICATION_STORE: DE
            PROJECT: payone

        steps:
            -   uses: actions/checkout@v2

            -   name: Configure sysctl limits
                run: |
                    sudo swapoff -a
                    sudo sysctl -w vm.swappiness=1
                    sudo sysctl -w fs.file-max=262144
                    sudo sysctl -w vm.max_map_count=262144
            -   name: Composer get cache directory
                id: composer-cache
                run: |
                    echo "::set-output name=dir::$(composer config cache-files-dir)"
            -   name: Composer cache
                uses: actions/cache@v2
                with:
                    path: ${{ steps.composer-cache.outputs.dir }}
                    key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
                    restore-keys: |
                        ${{ runner.os }}-composer-
            -   name: Composer validate
                run: composer validate

            -   name: Composer install
                run: |
                    composer --version
                    composer install
            -   name: Setup PHP
                uses: shivammathur/setup-php@v2
                with:
                    php-version: ${{ matrix.php }}
                    extensions: mbstring, intl
                    tools: composer:v2

            -   name: Run tests
                run: composer test

            -   name: Run PHPStan
                run: composer stan

            -   name: Run CodeStyle checks
                run: composer cs-check

        prefer-lowest:
            runs-on: ubuntu-20.04
            strategy:
                fail-fast: false
                matrix:
                    php-version: [
                            '7.4'
                    ]

            steps:
                -   uses: actions/checkout@v2

                -   name: Validate composer.json and composer.lock
                    run: composer validate

                -   name: Get Composer Cache Directory
                    id: composer-cache
                    run: |
                        echo "::set-output name=dir::$(composer config cache-files-dir)"

                -   uses: actions/cache@v2
                    with:
                        path: ${{ steps.composer-cache.outputs.dir }}
                        key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
                        restore-keys: |
                            ${{ runner.os }}-composer-

                -   name: Setup PHP
                    uses: shivammathur/setup-php@v2
                    with:
                        php-version: ${{ matrix.php-version }}
                        extensions: mbstring, intl, pdo_mysql

                -   name: Composer prefer lowest
                    run: composer lowest-setup

                -   name: Run tests
                    run: composer test

                -   name: Run PHPStan (currently not running properly)
                    run: composer stan || true

                -   name: Validate prefer lowest
                    run: vendor/bin/validate-prefer-lowest -m
